@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <label>Status</label>
        <div class="form-group selecter-feild">
            <select asp-items=" ViewBag.Status" class="form-control"></select>
        </div>
    </div>
</div>
